.heading {
   font-size: 36px;
   text-align: center;
   margin: 30px 0;
}

.searchBar {
   display: block;
   width: 300px;
   margin: auto;
   margin-top: 10px;
   padding: 5px 5px;
   font-size: 18px;
   border: 2px solid black;
}

.searchBar:focus {
   outline: none;
   border: 2px solid black;
}

.colorGreen {
   color: rgb(8, 93, 93);
}
