.blogTile {
   display: inline-block;
   text-decoration: none;
   width: 250px;
   height: 220px;
   padding: 10px 15px;
   background-color: rgb(241, 246, 246);
}

.blogTile:hover {
   transform: scale(1.07);
}

.blogTile > h4 {
   margin-top: 5px;
   text-align: center;
   color: rgb(8, 93, 93);
}

.dateAuthorContainer {
   display: flex;
   color: black;
   width: 100%;
   justify-content: space-between;
}

.blogTile > p {
   color: black;
   text-align: justify;
}
